.profile__btn-change {
  position: absolute;
  background: url('../../../images/edit-btn.png') #000;
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: contain;
  border: none;
  top: 10px;
  right: 10px;
}
