.profile__btn-change {
  position: absolute;
  background: url('../../../images/edit-btn.png') #000;
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: contain;
  border: none;
  top: 35px;
  right: 0;
}

@media screen and (min-width: 1280px) {
  .profile__btn-change {
    width: 24px;
    height: 24px;
  }
}
