.profile__name {
  position: relative;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
  margin: 26px 0 0;
  padding: 0 28px;
}
